<hr />
<div class="text-center m-3">
  <a href="/" class="text-white"
    ><button type="button" class="btn btn-primary text-center">Home</button>
  </a>
  <a href="/classes" class="text-white"
    ><button type="button" class="btn btn-primary text-center">Classes</button>
  </a>
  <a href="/students" class="text-white"
    ><button type="button" class="btn btn-primary text-center">Students</button>
  </a>
  <a href="/class_categories" class="text-white"
    ><button type="button" class="btn btn-primary text-center">
      Categories
    </button>
  </a>
  <a href="/registrations" class="text-white"
    ><button type="button" class="btn btn-primary text-center">
      Registrations
    </button>
  </a>
  <a href="/professors" class="text-white"
    ><button type="button" class="btn btn-primary text-center">
      Professors
    </button>
  </a>
</div>
<hr />
